# See 'man gitignore'.

# Rope
.ropeproject

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Sphinx documentation
#_build # Cannot ignore this the way the gh-pages are currently being built/deployed.

# Setuptools stuff
*.egg-info

# py.test cashe
.cache

# Vim swap.
*.swp

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution directory from setup.py sdist.
/dist
!*/dist # Need for older git versions.

